services:
  api:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    working_dir: /src
    volumes:
      - ./:/src
    depends_on:
      sqlserver:
        condition: service_healthy
    command: dotnet watch run --urls "http://0.0.0.0:8080"
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__ProdutosAPI=Server=${DB_HOST},${MSSQL_PORT};Database=Produtos;User Id=${DB_USER};Password=${MSSQL_SA_PASSWORD};TrustServerCertificate=True;
