services:
  api:
    build: .
    image: produtoapi:prod
    depends_on:
      - sqlserver
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings_ProdutosAPI=Server=${DB_HOST},1433;Database=ProdutosAPI;User Id=${DB_USER};Password=${DB_PASSWORD};TrustServerCertificate=False;Encrypt=True
    ports:
      - "${API_PORT}:8080"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    restart: always