name: .NET Core CI & Docker

on:
  push:
    branches: [ "master" ]
    tags: 'v*' # Aciona quando criar tags como v1.0, v2.0.1, etc.
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    name: Build, Test e Docker
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código
    - uses: actions/checkout@v4

    # 2. Configura o .NET no ambiente (Mude a versão se necessário)
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x # Altere para 6.0 ou 7.0 se for o seu caso

    # 3. Baixa as dependências (Nuget packages)
    - name: Restore dependencies
      run: dotnet restore

    # 4. Compila o código (Verifica erros de sintaxe C#)
    - name: Build
      run: dotnet build --no-restore --configuration Release

    # 5. Roda os testes (Se você tiver testes unitários criados)
    # Se não tiver testes ainda, esse passo vai passar "rápido" ou avisar que não achou testes
    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal

    # 6. O "Grand Finale" do CI: Garante que o Dockerfile funciona
    - name: Determinar a Tag da Imagem
      id: vars
      run: |
        # Se for uma tag do Git, usa o nome da tag (ex: v1.0.0)
        if [[ $GITHUB_REF == refs/tags/* ]]; then
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        else
          # Se for um push normal na main, usa 'latest'
          echo "tag=latest" >> $GITHUB_OUTPUT
        fi
    - name: Build Docker Image
      # Repare no ${{ steps.vars.outputs.tag }} -> é a variável que criámos acima
      run: docker build -f ./ProdutosAPI/Dockerfile . -t produtosapi:${{ steps.vars.outputs.tag }}
